header {
  height: 45px;
}

main {
  height: 914px;
  display: flex;
  flex-direction: column;
}

#page-row-1, #page-row-2, #page-row-3 {
  height: 455px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#page-row-2 {
  flex-direction: row-reverse;
}

.logo {
  height: 82%;
}

.art-recipe-1, .art-recipe-2, .art-recipe-3 {
  border-style: solid;
  border-width: 6px;
  margin: 40px;
  width: 33%;
  height: 80%;
  color: #a5a9aa;
  font-family: 'Great Vibes', cursive;
}

.art-recipe-1 {
  border-color: #dce9ee;
}

.art-recipe-2 {
  border-color: #ffdbe8;
}

.art-recipe-3 {
  border-color: #e6d5f7;
}

.art-recipe-1 a, .art-recipe-2 a, .art-recipe-3 a {
  color: #a5a9aa;
  text-decoration: none;
}

.art-recipe-1 a h3, .art-recipe-2 a h3, .art-recipe-3 a h3 {
  margin-top: 7px;
  font-size: 1.75rem;
  font-weight: lighter;
}

.recipe-image {
  height: 80%;
  width: 90%;
  margin-top: 20px;
  object-fit: cover;
}

#page-row-2 .art-recipe-2 {
  margin: 40px 0;
}

#page-row-2 .art-recipe-1, #page-row-2 .art-recipe-3 {
  margin-bottom: 40px;
}

#page-separator {
  width: 25%;
  border-top: 1px solid #dce9ee;
  margin-top: 0;
  margin-bottom: 0;
}