/* * {
  border-radius: 10%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  color: white;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  height: 365px;
}

.home {
  position: absolute;
  margin-left: 10px;
  /* display: none; */
}

.home a {
  color: white;
  font-size: 1.5rem;
  line-height: 45px;
}

.nav-container {
  background-color: #f7b1c6;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
}

.nav-mobile {
  height: 45px;
  text-align: right;
  display: none;
}

#nav-toggle {
  cursor: pointer;
  padding: 20px 10px;
  float: right;
}

#nav-toggle span, span:before, span:after {
  position: relative;
  display: block;
  content: '';
  background-color: white;
  border-radius: 5px;
  height: 2px;
  width: 30px;
  transition: all 200ms ease-in-out;
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -6px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
  top: 5px;
  right: 5px;
  width: 40px;
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
  right: 5px;
  bottom: -4px;
  width: 40px;
}

.nav-list {
  background-color: #f7b1c6;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 0 10px;
}

.nav-list li a:hover {
  transition: all 0.3s ease 0s;
  color: #b1e3f7;
}

.nav-dropdown {
  position: absolute;
  background-color: #d5b1f7;
  padding: 0;
  margin-top: 20px;
  display: none;
  z-index: 1;
}

.nav-dropdown li a:hover {
  transition: all 0.3s ease 0s;
  color: #b1e3f7;
}

.nav-dropdown:after {
	width: 0;
	height: 0;
	position: absolute;
	top: 0%;
	left: 20px;
	content: '';
	transform: translate(0%, -100%);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #d5b1f7;
}

.nav-dropdown li {
  height: 40px;
  width: 150px;
  text-align: left;
}

.nav-dropdown li a {
  display: block;
  padding: 10px 15px;
}

#banner {
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logo {
  background-color: #f7b1c6;
  height: 75%;
  width: 34%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  padding: 7px 0;
}

#image-container-1, #image-container-2 {
  height: 75%;
  width: 33%;
  margin: 40px;
}

#home-image-1, #home-image-2 {
  height: 100%;
  width: 90%;
}

main {
  display: flex;
  flex-direction: row;
  height: 594px;
}

#art-fave-container, #art-fail-container {
  margin: 0 40px;
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#art-fave {
  border: #b1e3f7;
  border-style: solid;
  border-width: 10px;
  margin-bottom: 40px;
  width: 87%;
  height: 30%;
}

#art-fave h3 {
  color: #a5a9aa;
  text-transform: uppercase;
  margin: 20px;
}

#art-fave p {
  color: #a5a9aa;
  margin: 20px;
}

#fave-image {
  border: #b1e3f7;
  border-style: solid;
  border-width: 10px;
  margin-bottom: 40px;
  height: 70%;
  width: 87%;
}

/* #art-dummy-container {
  display: flex;
  flex-direction: row;
  width: 67%;
  margin-right: 50px;
} */

#art-news {
  border: #f7b1c6;
  border-style: solid;
  border-width: 10px;
  width: 33%;
  height: 90%;
}

#art-news h3 {
  color: #a5a9aa;
  text-transform: uppercase;
  margin: 20px;
}

#art-news p {
  color: #a5a9aa;
  margin: 20px;
}

#art-fail {
  border: #d5b1f7;
  border-style: solid;
  border-width: 10px;
  margin-bottom: 40px;
  width: 87%;
  height: 30%;
}

#art-fail h3 {
  color: #a5a9aa;
  text-transform: uppercase;
  margin: 20px;
}

#art-fail p {
  color: #a5a9aa;
  margin: 20px;
}

#fail-image {
  border: #d5b1f7;
  border-style: solid;
  border-width: 10px;
  margin-bottom: 40px;
  height: 70%;
  width: 87%;
}

/* footer {
  background-color: #d5b1f7;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
}

footer p {
  padding-right: 15px;
  font-weight: 400;
  text-align: right;
  font-size: 13px;
} */

@media only screen and (min-width: 800px) {
  .nav-list {
    display: flex !important;
  }
}

@media only screen and (max-width: 1600px) {
  #home-image-1, #home-image-2 {
    width: 100%;
  }

  #art-fave, #fave-image, #art-fail, #fail-image {
    width: 96%;
  }
}

@media only screen and (max-width: 1280px) {
  #image-container-1 {
    display: none;
  }

  .logo {
    width: 50%;
    margin: 40px;
    height: 240px;
  }

  #image-container-2 {
    width: 50%;
    margin-left: 0;
    height: 240px;
  }
  
  main {
    flex-direction: column;
    margin: 0 40px;
    height: auto;
  }

  #art-fave-container {
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
    height: 240px;
    flex-direction: row-reverse;
  }

  #art-fave {
    width: 50%;
    height: 92%;
    margin: 0;
    margin-left: 40px;
  }

  #fave-image {
    width: 50%;
    height: 92%;
    margin: 0;
  }

  #art-news {
    width: 98%;
    height: 240px;
    margin-bottom: 40px;
  }

  #art-fail-container {
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
    height: 240px;
    flex-direction: row;
  }
  
  #art-fail {
    width: 50%;
    height: 92%;
    margin: 0;
    margin-right: 40px;
  }
  
  #fail-image {
    width: 50%;
    height: 92%;
    margin: 0;
  }  
}

@media only screen and (max-width: 960px) {
  header {
    height: 345px;
  }

  .logo {
    margin: 30px;
    width: 100%;
  }

  #image-container-2 {
    display: none;
  }

  main {
    margin: 0 30px;
  }

  #art-fave-container {
    height: 510px;
    flex-direction: column;
    margin-bottom: 30px;
  }

  #art-fave {
    width: 98%;
    height: 50%;
    margin: 30px;
    margin-top: 0;
  }

  #fave-image {
    width: 98%;
    height: 50%;
  }

  #art-news {
    width: 98%;
    height: 220px;
    margin-bottom: 30px;
  }

  #art-fail-container {
    height: 510px;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  #art-fail {
    width: 98%;
    height: 50%;
    margin: 30px;
    margin-top: 0;
  }
  
  #fail-image {
    width: 98%;
    height: 50%;
  }  
}

@media only screen and (max-width: 800px) {
  header {
    height: auto;
  }

  .nav-container {
    height: auto;
    flex-direction: column;
  }

  #banner {
    height: auto;
  }

  .nav-mobile {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    height: auto;
  }
  
  .nav-list li {
    padding-bottom: 20px;
  }

  .nav-list li ul li {
    padding-bottom: 0;
    width: 100%;
    text-align: center;
  }

  .nav-list li ul li a {
    margin: 0;
  }

  .nav-dropdown {
    position: static;
    margin-top: 10px;
  }
}
